  
/* Add your styles here */
.navbar {
    color: darkgrey;
    background: whitesmoke;
    font-size: 20px;
    padding-left: 100px;
    padding-right: 100px;
}
.navbar-brand {
    font-size: 25px;
    font-family: Book Antiqua;
    font-weight: bold;
    background: aqua;
}
.navbar li a {
    font-family: Book Antiqua;
    display: block;
    color: darkgrey;
  }
.container {
    display: block;
    background-color: whitesmoke;
}
.container h1 {
    color:  teal;
    font-family: Book Antiqua;
    font-weight: bold;
    margin-left: 10px;
}
.container h2 {
    color:  teal;
    padding-top: 30px;
    padding-left: 20px;
    font-family: Book Antiqua;
    font-weight: bold;
}
.container p {
    display: block;
    padding: 10px;
    line-height: 2.2;
    padding-left: 20px;
    padding-right: 20px;
    color: darkgrey);
}
.container img {
    display: inline;
    margin: 10px 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    max-width: 100%;
    height: auto;
    align-content: center;
}     
.container img:hover{
    box-shadow: 0 0 2px 1px teal;
}
.container h3 {
    color:  darkgrey;
    text-align: center;
    font-family: Book Antiqua;
    font-weight: bold;
}
.row {
    padding-top: 20px;
    padding-right: 10px;
    padding-bottom: 20px;
    padding-left: 10px;
    border: 1px solid aqua; 
}
.container col {
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 20px;
    padding-left: 10px;
}
.panel {
    border: 1px solid darkgrey;
}
#maintable {  
    width: 100%;
    border-collapse: collapse; 
    border-spacing: 40px;
    padding: 50px;
}
#maintable td, th { 
    border: 1px solid #CCC; 
    text-align:  center;
}  
#maintable th {  
    background: #F3F3F3; /* Light grey background */
    font-weight: bold; /* Make sure they're bold */
}
#maintable td {  
    background: #FAFAFA; /* Lighter grey background */
    text-align: center; /* Center our text */
}

.boxx {
    border: solid rgb(15, 168, 168);

}




